* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	color: white;
}

header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(#000000, #ffffff00, #000000c9),
		url("assets/img/moviebanner.webp");
	background-size: cover;
	background-position: top;
}

navbar {
	padding-top: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	display: flex;
	line-height: 1.5rem;
	justify-content: space-between;
}

.navbar-profile-item {
	margin-left: 0.5rem;
}

.navbar-profile-item--icons {
	filter: invert();
	width: 1rem;
}

.navbar-profile-item--dropdown {
	width: 0.7rem;
	margin-left: 0.1rem;
}

.navbar-profile-item-pic {
	width: 1.5rem;
}

nav {
	display: inline;
	vertical-align: bottom;
}

.navbar-menus {
	height: 40%;
	width: 42%;
	display: flex;
	justify-content: space-between;
}

.navbar-menus-logo {
	display: inline-block;
	margin-right: 5%;
}

.header-recommendation {
	width: 25vw;
	padding-top: 10%;
	padding-left: 5%;
}

.header-recommendation-type {
	align-items: center;
	letter-spacing: 5px;
	color: lightgray;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.header-recommendation-type-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8rem;
}

.header-recommendation-type-item--text {
	margin-left: -0.5rem;
}

.header-recommendation-logo {
	width: 100%;
}

.header-recommendation-description {
	margin-top: 0.4rem;
	text-shadow: 1px 1px 2px black;
	font-weight: 500;
}

.header-recommendation-buttons {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.header-recommendation-button {
	border: none;
	border-radius: 2px;
	height: 2.4rem;
}

.header-recommendation-button-text {
	padding-left: 5px;
	font-weight: bold;
}

.header-recommendation-button p,
.header-recommendation-button img {
	display: inline;
	vertical-align: middle;
}

.header-recommendation-buttons--watch {
	background-color: white;
	width: 35%;
	color: black;
}

.header-recommendation-buttons--more-info {
	background-color: rgba(255, 255, 255, 0.336);
	width: 55%;
	color: white;
}

.header-recommendation-buttons--more-info img {
	filter: invert();
}
